In [17]:
hello = "hello world"
print(hello)
print(hello[4:])# 4번째 인덱스 부터 다
print(hello[1:3])#1부터 2까지
print(hello[::-1])
print(hello*3)
print(hello[-1])#끝에서부터 인덱스가 -1,-2....
print(len(hello))#띄어쓰기 포함

hello world
o world
el
dlrow olleh
hello worldhello worldhello world
d
11

In [18]:
hello = list(hello) #list 형변환
print(hello)
print(hello[1:4])
print(hello[1::2])#start end step
print(len(hello))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
['e', 'l', 'l']
['e', 'l', ' ', 'o', 'l']
11

In [21]:
a=10
b=5
print(a/b, a//b, a%b)#소수점까지, 몫, 나머지
print(divmod(a,b))#몫과 나머지를 한번에 뽑아줌
print(divmod(a,b)[0])#인덱싱해서 몫만 나옴

2.0 2 0
(2, 0)
2

In [23]:
string="문자열"
number=273
#string+number#안됨
print(string+str(number))#숫자를 문자열로 형변환 시켜야지 더해질수 있음

문자열273

In [27]:
#print(input())#입출력
n= int(input())#input은 문자로 인식하기 때문에 숫자계산해주려면 int로 형변환 해줘야함
print(n)

56

In [29]:
name = "배근영, 이정민, 전지웅"
print(name.find("이정민"))#찾은 첫번쨰 인덱스를 반환해줌
print(name.find("하하"))#없으면 -1 반환

5
-1

In [35]:
alpa=list("Abcdefghijklmnopqrstuvwxyz".lower())
s=input()
for i in alpa:
    result=s.find(i)
    print(result, end=" ")

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [41]:
name
name_array= name.split(", ")#공백기준으로 잘림, 이건 쉼표로 기준

In [47]:
print(name_array)
for i in name_array:
    print(i,end=" ")
print()   
for i in range(len(name_array)): #name_array=숫자3
    print(name_array[i])

['배근영', '이정민', '전지웅']
배근영 이정민 전지웅
배근영
이정민
전지웅

In [53]:
name_array.append("이종택")
print(name_array)
name_array.pop(2)
print(name_array)

['배근영', '이정민', '전지웅', '이종택', '이종택']
['배근영', '이정민', '이종택', '이종택']

In [56]:
if "이정민" in name_array:
    print("있습니다")
if "이정민" not in name_array:
    print("없습니다")

있습니다

In [59]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [62]:
print(list(range(20,100,3)))#start, end, step

[20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]

In [71]:
r= list(range(20,100,3))
print(r)
print(min(r),max(r),sum(r))
print(reversed(r))
print(list(reversed(r)))#list로 변환 해줘야지 reversed를 쓸수 있음ㄴ

[20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]
20 98 1593
<list_reverseiterator object at 0x00000177EEB395D0>
[98, 95, 92, 89, 86, 83, 80, 77, 74, 71, 68, 65, 62, 59, 56, 53, 50, 47, 44, 41, 38, 35, 32, 29, 26, 23, 20]

In [67]:
for index,value in enumerate(r):
    print(index,value)#index, value를 한쌍으로 뽑아줌

0 20
1 23
2 26
3 29
4 32
5 35
6 38
7 41
8 44
9 47
10 50
11 53
12 56
13 59
14 62
15 65
16 68
17 71
18 74
19 77
20 80
21 83
22 86
23 89
24 92
25 95
26 98

In [69]:
print((3,10))#소괄호로 되어있는게 투플(수정 할수 없음)

(3, 10)

In [4]:
hello="hello world"
hello= hello.replace("world", "hi")
print(hello)

hello hi